# Corpus #

src/corpus
src/word2vec_corpus/bounwebcorpus.txt
src/word2vec_corpus/newscor.txt
src/word2vec_corpus/newscor_digitless.txt
src/word2vec_corpus/unk.txt

# Compiled models #

src/word2vec.model

# Other #

src/__pycache__
src/test/__pycache__
.DS_Store
src/.DS_Store